      body {
          background: linear-gradient(#c8cfdb 0%, #9ea6ad 100%);
      }
      
      #imgSideBg {
          height: 650px;
          width: 400px;
      }
      
      .div_Login {
          padding-top: 200px;
      }
      
      #btnLogIn {
          background-color: #55cc23;
          color: white;
          border: 1px solid white;
          border-radius: 10px;
          padding: 10px;
      }
      
      #header {
          font-size: 40px;
          font-family: cursive;
          color: blueviolet;
          margin-bottom: 50px;
      }
      
      #user_name {
          width: 30%;
          border-radius: 10px;
          border: 1px solid gr;
      }